###########################################################
# Diese Datei nach user.yml kopieren (gleiches Verzeichnis)
# und mit eigenen Daten fuellen.
# Sie kann dann aus der Devbox verwendet werden,
# um benutzerspezifische Variablen beizusteuern.
###########################################################
---
# name and mail adress for git
git_name: "replaceme"
git_mail: "replaceme"
